.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 24px;
}

.contact-form input {
  width: 290px;
  height: 30px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  background-color: transparent;
  padding: 16px 18px;
  margin: 14px auto 0;
  color: #ffffff;
  outline: transparent;
}

.contact-form ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-overflow: ellipsis;
  text-indent: 0;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

.contact-form ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-overflow: ellipsis;
  text-indent: 0;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

.contact-form :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-overflow: ellipsis;
  text-indent: 0;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

.contact-form :focus::-webkit-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

.contact-form :focus::-moz-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

.contact-form :focus:-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

.btn.contact-btn {
  margin-top: 45px;
  padding: 10px 26px;
}

.btn.contact-btn span {
  font-weight: 500;
  font-size: 16px;
}